/* .btn {
  @apply  !important;
} */

/* .btn:hover {
  border: 2px solid #c5c5c5;
}
.btn:disabled {
  cursor: disabled;
  @apply bg-slate-400;
} */
.small {
  @apply text-xs leading-5;
}

.medium {
  @apply text-sm leading-snug;
}

.large {
  @apply text-base leading-snug;
}

.contained {
  @apply text-gray-50 bg-slate-900 !important;
}

.primary {
  @apply bg-neutral-50 shadow text-slate-900;
}

.secondary {
  @apply border text-slate-900 bg-gray-50 border-slate-900;
}

.dark {
  @apply !text-gray-50 bg-slate-700;
}

.green {
  @apply border-none bg-green-500;
}

.green:hover {
  border: none;
}

.primary:disabled,
.secondary:disabled,
.contained:disabled,
.green:disabled,
.dark:disabled {
  cursor: disabled;
  @apply bg-slate-400;
}

.half {
  @apply rounded-md;
}

.full {
  @apply rounded-full;
}
